extends layout
block content
   
	div.container
		div(class="jumbotron text-center")
			if(message != undefined)
				h5(class="text-danger") #{message}
			p To start please signup or signin using
			a(href="/auth/google" ,class="btn btn-danger")
				span(class="fa fa-google-plus") Google
		



